<block name="header">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
<link href='__ROOT__/Public/favicon.ico' rel='shortcut icon'>
<link href="__ROOT__/Public/css/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="__ROOT__/Public/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="__ROOT__/Public/css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/style.css" rel="stylesheet" type="text/css" />
<script  src="__ROOT__/Public/Js/Ueditor/third-party/jquery-1.10.2.min.js"></script> 
<script  src="__ROOT__/Public/Js/bootstrap/bootstrap.min.js"></script> 
<script src="http://open.web.meitu.com/sources/xiuxiu.js" type="text/javascript"></script>
</block>