<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="{:U('Index/index')}"> <img
			src="__ROOT__/Public/images/logo.png" alt="logo" />
		</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"> <img alt=""
					src="__ROOT__/Public/images/user/{$userinfo[pic]}" /> <span
					class="username">{$userinfo[nickname]}</span> <i class="icon-user"></i>
			</a></li>
			<li><a href=__APP__/Admin/Login/logout"><i class="icon-key"></i>
					退出</a></li>
		</ul>
	</div>
</div>