<extend name="Public:main" />
<block name="main">
<h1 class="page-header">菜单管理</h1>
<div class="clearfix">
	<div class="form-group">
		<a href="{:U('User/user_add')}">
			<button type="button" class="btn btn-success">
				添加<i class="icon-plus"></i>
			</button>
		</a>
	</div>
</div>
<div class="form-group">
	<table class="table table-bordered table-condensed text-nowrap">
		<thead>
			<tr role="row">
				<th class="col-xs-1" rowspan="1" colspan="1" ><div class="checker">
						<span><input type="checkbox" class="group-checkable" ></span>
					</div></th>
				<th class="col-xs-1"  rowspan="1" colspan="1">ID</th>
				<th class="col-xs-2"  rowspan="1" colspan="1">用户名</th>
				<th class="col-xs-2" rowspan="1" colspan="1">昵称</th>
				<th class="col-xs-2" rowspan="1" colspan="1" >注册时间</th>
				<th class="col-xs-2"  rowspan="1" colspan="1" >邮箱</th>
				<th class="col-xs-2"  rowspan="1" colspan="1" >状态</th>
				<th class="col-xs-2"  rowspan="1" colspan="1"  >操作</th>
			</tr>
		</thead>
		<tbody>
			<foreach name="user" item="user">
			<tr>
				<td class=" sorting_1"><div class="checker">
						<span><input type="checkbox" class="checkboxes" value="1"></span>
					</div></td>
				<td><span>{$user.id}</span></td>
				<td><span>{$user.user_login}</span></td>
				<td><span>{$user.user_nicename}</span></td>
				<td><span>{$user.user_registered}</span></td>
				<td><span>{$user.user_email}</span></td>
				<td><span><if condition="$user.user_status eq 1">启用<else />禁用</if></span></td>
				<td><span><a href="{:U('user/user_edit',array('ID'=>$user[id]))}"><button type="button" class="btn  btn-info">修改</button></a></span></td>
			</tr>
		 </foreach>
		</tbody>
	</table>
</div>
</block>