<div id="wpadminbar" class="" role="navigation">
	<a class="screen-reader-shortcut" href="#wp-toolbar" tabindex="1">跳至工具栏</a>
	<div class="quicklinks" id="wp-toolbar" role="navigation"
		aria-label="顶部导航工具栏。" tabindex="0">
		<ul id="wp-admin-bar-root-default" class="ab-top-menu">
			<li id="wp-admin-bar-menu-toggle"><a class="ab-item" href="#"
				aria-expanded="false"><span class="ab-icon"></span><span
					class="screen-reader-text">菜单</span></a></li>
			<li id="wp-admin-bar-wp-logo" class="menupop"><a class="ab-item"
				aria-haspopup="true"
				href="http://127.0.0.1/wordpress/wp-admin/about.php"
				title="关于WordPress"><span class="ab-icon"></span></a>
			<div class="ab-sub-wrapper">
					<ul id="wp-admin-bar-wp-logo-default" class="ab-submenu">
						<li id="wp-admin-bar-about"><a class="ab-item"
							href="http://127.0.0.1/wordpress/wp-admin/about.php">关于WordPress</a>
						</li>
					</ul>
					<ul id="wp-admin-bar-wp-logo-external"
						class="ab-sub-secondary ab-submenu">
						<li id="wp-admin-bar-wporg"><a class="ab-item"
							href="https://cn.wordpress.org/">WordPress.org</a></li>
						<li id="wp-admin-bar-documentation"><a class="ab-item"
							href="http://codex.wordpress.org/zh-cn:Main_Page">文档</a></li>
						<li id="wp-admin-bar-support-forums"><a class="ab-item"
							href="http://zh-cn.forums.wordpress.org/">支持论坛</a></li>
						<li id="wp-admin-bar-feedback"><a class="ab-item"
							href="http://zh-cn.forums.wordpress.org/forum/suggestions">反馈</a>
						</li>
					</ul>
				</div></li>
			<li id="wp-admin-bar-site-name" class="menupop"><a
				class="ab-item" aria-haspopup="true"
				href="http://127.0.0.1/wordpress/">测试</a>
			<div class="ab-sub-wrapper">
					<ul id="wp-admin-bar-site-name-default" class="ab-submenu">
						<li id="wp-admin-bar-view-site"><a class="ab-item"
							href="http://127.0.0.1/wordpress/">查看站点</a></li>
					</ul>
				</div></li>
			<li id="wp-admin-bar-comments"><a class="ab-item"
				href="http://127.0.0.1/wordpress/wp-admin/edit-comments.php"
				title="0条评论待审"><span class="ab-icon"></span><span
					id="ab-awaiting-mod"
					class="ab-label awaiting-mod pending-count count-0">0</span></a></li>
			<li id="wp-admin-bar-new-content" class="menupop"><a
				class="ab-item" aria-haspopup="true"
				href="http://127.0.0.1/wordpress/wp-admin/post-new.php" title="添加"><span
					class="ab-icon"></span><span class="ab-label">新建</span></a>
			<div class="ab-sub-wrapper">
					<ul id="wp-admin-bar-new-content-default" class="ab-submenu">
						<li id="wp-admin-bar-new-post"><a class="ab-item"
							href="http://127.0.0.1/wordpress/wp-admin/post-new.php">文章</a></li>
						<li id="wp-admin-bar-new-media"><a class="ab-item"
							href="http://127.0.0.1/wordpress/wp-admin/media-new.php">媒体</a></li>
						<li id="wp-admin-bar-new-page"><a class="ab-item"
							href="http://127.0.0.1/wordpress/wp-admin/post-new.php?post_type=page">页面</a>
						</li>
						<li id="wp-admin-bar-new-user"><a class="ab-item"
							href="http://127.0.0.1/wordpress/wp-admin/user-new.php">用户</a></li>
					</ul>
				</div></li>
		</ul>
		<ul id="wp-admin-bar-top-secondary"
			class="ab-top-secondary ab-top-menu">
			<li id="wp-admin-bar-my-account" class="menupop with-avatar"><a
				class="ab-item" aria-haspopup="true"
				href="http://127.0.0.1/wordpress/wp-admin/profile.php" title="我的帐户">您好，admin<img
					alt=""
					src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=26"
					class="avatar avatar-26 photo avatar-default" height="26"
					width="26"></a>
			<div class="ab-sub-wrapper">
					<ul id="wp-admin-bar-user-actions" class="ab-submenu">
						<li id="wp-admin-bar-user-info"><a class="ab-item"
							tabindex="-1"
							href="http://127.0.0.1/wordpress/wp-admin/profile.php"><img
								alt=""
								src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=64"
								class="avatar avatar-64 photo avatar-default" height="64"
								width="64"><span class="display-name">admin</span></a></li>
						<li id="wp-admin-bar-edit-profile"><a class="ab-item"
							href="http://127.0.0.1/wordpress/wp-admin/profile.php">编辑我的个人资料</a>
						</li>
						<li id="wp-admin-bar-logout"><a class="ab-item"
							href="http://127.0.0.1/wordpress/wp-login.php?action=logout&amp;_wpnonce=deb1279afa">登出</a>
						</li>
					</ul>
				</div></li>
		</ul>
	</div>
	<a class="screen-reader-shortcut"
		href="http://127.0.0.1/wordpress/wp-login.php?action=logout&amp;_wpnonce=deb1279afa">登出</a>
</div>