<block name="header"> <include file="Zgp:header" /> </block>
<body class="login login-action-login wp-core-ui  locale-zh-cn">
	<div id="login">
		<form name="loginform" id="loginform" action="{:U('Zgp/dologin')}"
			method="post">
			<p>
				<label for="user_login">用户名<br /> <input type="text"
					name="username" id="user_login" class="input" value="" size="20" /></label>
			</p>
			<p>
				<label for="user_pass">密码<br /> <input type="password"
					name="password" id="user_pass" class="input" value="" size="20" /></label>
			</p>
			
			<p>
			<!-- <p>
				<label for="user_verify">验证码<br />
				<input class="input" type="text" id="user_verify" size="20" placeholder="请输入验证码" />
				 <img alt="验证码" src="{:U('Home/Zgp/verify',array())}" title="点击刷新">  
				</label>
			</p> -->
			<p class="forgetmenot">
				<label for="rememberme"><input name="rememberme"
					type="checkbox" id="rememberme" value="forever" /> 记住我的登录信息</label>
			</p>
			<p class="submit">
				<input type="submit" name="wp-submit" id="wp-submit"
					class="button button-primary button-large" value="登录" />
			</p>
		</form>

	</div>
</body>
<block name="footer"> <include file="Zgp:footer" /> </block>
