<div id="wpbody">

<div id="wpbody-content" aria-label="主内容" tabindex="0">
		<div id="screen-meta" class="metabox-prefs">

			<div id="contextual-help-wrap" class="hidden" tabindex="-1" aria-label="“上下文帮助”选项卡">
				<div id="contextual-help-back"></div>
				<div id="contextual-help-columns">
					<div class="contextual-help-tabs">
						<ul>
						
							<li id="tab-link-overview" class="active">
								<a href="#tab-panel-overview" aria-controls="tab-panel-overview">
									概述								</a>
							</li>
												</ul>
					</div>

										<div class="contextual-help-sidebar">
						<p><strong>更多信息：</strong></p><p><a href="http://codex.wordpress.org/zh-cn:%E8%AE%BE%E7%BD%AE_%E5%B8%B8%E8%A7%84%E9%A1%B5%E9%9D%A2" target="_blank">关于常规设置的中文文档</a></p><p><a href="http://cn.forums.wordpress.org" target="_blank">中文支持论坛</a></p>					</div>
					
					<div class="contextual-help-tabs-wrap">
						
							<div id="tab-panel-overview" class="help-tab-content active">
								<p>本页面中的选项决定您站点的基本配置。</p><p>大多数的主题在每个页面的顶端、浏览器标题栏、feed中显示站点标题。许多主题也显示副标题。</p><p>“WordPressURL”和“站点URL”可以相同，也可以不同。比如说，WordPress的核心文件（example.com/wordpress）可以不置于根目录，而在子目录。</p><p>如果您希望允许访客自行注册（另外一种方式是由站点管理员代为注册），请勾选“成员资格”复选框。默认用户角色应用于所有新注册的用户，不论其是由管理员代为注册，抑或是自行注册。</p><p>您可以设置语言，翻译文件将被自动下载并安装（如果您的文件系统可写）。</p><p>UTC是世界协调时间。</p><p>调整完成后，记得点击页面下方“保存更改”按钮使设置生效。</p>							</div>
											</div>
				</div>
			</div>
				</div>
				<div id="screen-meta-links">
					<div id="contextual-help-link-wrap" class="hide-if-no-js screen-meta-toggle">
			<a href="#contextual-help-wrap" id="contextual-help-link" class="show-settings" aria-controls="contextual-help-wrap" aria-expanded="false">帮助</a>
			</div>
				</div>
		
<div class="wrap">
<h2>常规选项</h2>

<form method="post" action="options.php" novalidate="novalidate">
<input type="hidden" name="option_page" value="general"><input type="hidden" name="action" value="update"><input type="hidden" id="_wpnonce" name="_wpnonce" value="2fed974300"><input type="hidden" name="_wp_http_referer" value="/wordpress/wp-admin/options-general.php">
<table class="form-table">
<tbody><tr>
<th scope="row"><label for="blogname">站点标题</label></th>
<td><input name="blogname" type="text" id="blogname" value="测试" class="regular-text"></td>
</tr>
<tr>
<th scope="row"><label for="blogdescription">副标题</label></th>
<td><input name="blogdescription" type="text" id="blogdescription" value="又一个WordPress站点" class="regular-text">
<p class="description">用简洁的文字描述本站点。</p></td>
</tr>
<tr>
<th scope="row"><label for="siteurl">WordPress地址（URL）</label></th>
<td><input name="siteurl" type="url" id="siteurl" value="http://127.0.0.1/wordpress" class="regular-text code"></td>
</tr>
<tr>
<th scope="row"><label for="home">站点地址（URL）</label></th>
<td><input name="home" type="url" id="home" value="http://127.0.0.1/wordpress" class="regular-text code">
<p class="description">如果您想让站点地址和WordPress的安装地址<a href="http://codex.wordpress.org/zh-cn:%E5%B0%86_WordPress_%E6%96%87%E4%BB%B6%E7%BD%AE%E4%BA%8E%E7%8B%AC%E7%AB%8B%E5%AD%90%E7%9B%AE%E5%BD%95">不同</a>的话，请在这里输入您期望的地址。</p></td>
</tr>
<tr>
<th scope="row"><label for="admin_email">电子邮件地址 </label></th>
<td><input name="admin_email" type="email" id="admin_email" value="syhp1982@163.com" class="regular-text ltr">
<p class="description">这个电子邮件地址仅为了管理方便而索要，例如新注册用户通知。</p></td>
</tr>
<tr>
<th scope="row">成员资格</th>
<td> <fieldset><legend class="screen-reader-text"><span>成员资格</span></legend><label for="users_can_register">
<input name="users_can_register" type="checkbox" id="users_can_register" value="1">
任何人都可以注册</label>
</fieldset></td>
</tr>
<tr>
<th scope="row"><label for="default_role">新用户默认角色</label></th>
<td>
<select name="default_role" id="default_role">
	<option selected="selected" value="subscriber">订阅者</option>
	<option value="contributor">投稿者</option>
	<option value="author">作者</option>
	<option value="editor">编辑</option>
	<option value="administrator">管理员</option></select>
</td>
</tr>
<tr>
<th scope="row"><label for="timezone_string">时区</label></th>
<td>

<select id="timezone_string" name="timezone_string">
<optgroup label="亚洲（*：中国领土）">
<option selected="selected" value="Asia/Shanghai">*上海</option>
<option value="Asia/Urumqi">*乌鲁木齐</option>
<option value="Asia/Taipei">*台北</option>
<option value="Asia/Harbin">*哈尔滨</option>
<option value="Asia/Kashgar">*喀什</option>
<option value="Asia/Macau">*澳门</option>
<option value="Asia/Chongqing">*重庆</option>
<option value="Asia/Hong_Kong">*香港</option>
<option value="Asia/Hebron">Hebron</option>
<option value="Asia/Kathmandu">Kathmandu</option>
<option value="Asia/Novokuznetsk">Novokuznetsk</option>
<option value="Asia/Vientiane">万象</option>
<option value="Asia/Tokyo">东京</option>
<option value="Asia/Ulaanbaatar">乌兰巴托</option>
<option value="Asia/Choibalsan">乔巴山</option>
<option value="Asia/Aden">亚丁</option>
<option value="Asia/Rangoon">仰光</option>
<option value="Asia/Irkutsk">伊尔库茨克</option>
<option value="Asia/Qyzylorda">克孜勒奥尔达</option>
<option value="Asia/Krasnoyarsk">克拉斯诺亚尔斯克</option>
<option value="Asia/Riyadh">利雅得</option>
<option value="Asia/Kolkata">加尔各答</option>
<option value="Asia/Gaza">加沙</option>
<option value="Asia/Qatar">卡塔尔</option>
<option value="Asia/Karachi">卡拉奇</option>
<option value="Asia/Oral">口服</option>
<option value="Asia/Kuching">古晋</option>
<option value="Asia/Yekaterinburg">叶卡捷琳堡</option>
<option value="Asia/Kuala_Lumpur">吉隆坡</option>
<option value="Asia/Kabul">喀布尔</option>
<option value="Asia/Pontianak">坤甸</option>
<option value="Asia/Yerevan">埃里温</option>
<option value="Asia/Kamchatka">堪察加</option>
<option value="Asia/Tashkent">塔什干</option>
<option value="Asia/Damascus">大马士革</option>
<option value="Asia/Amman">安曼</option>
<option value="Asia/Nicosia">尼科西亚</option>
<option value="Asia/Baku">巴库</option>
<option value="Asia/Bahrain">巴林</option>
<option value="Asia/Baghdad">巴格达</option>
<option value="Asia/Dili">帝</option>
<option value="Asia/Pyongyang">平壤</option>
<option value="Asia/Thimphu">廷布</option>
<option value="Asia/Tehran">德黑兰</option>
<option value="Asia/Samarkand">撒马尔罕</option>
<option value="Asia/Brunei">文莱</option>
<option value="Asia/Singapore">新加坡</option>
<option value="Asia/Novosibirsk">新西伯利亚</option>
<option value="Asia/Bangkok">曼谷</option>
<option value="Asia/Makassar">望加锡</option>
<option value="Asia/Dushanbe">杜尚别</option>
<option value="Asia/Jayapura">查亚普拉</option>
<option value="Asia/Bishkek">比什凯克</option>
<option value="Asia/Seoul">汉城</option>
<option value="Asia/Colombo">科伦坡</option>
<option value="Asia/Kuwait">科威特</option>
<option value="Asia/Hovd">科布多</option>
<option value="Asia/Vladivostok">符拉迪沃斯托克</option>
<option value="Asia/Tbilisi">第比利斯</option>
<option value="Asia/Jerusalem">耶路撒冷</option>
<option value="Asia/Ho_Chi_Minh">胡志明市</option>
<option value="Asia/Sakhalin">萨哈林</option>
<option value="Asia/Beirut">贝鲁特</option>
<option value="Asia/Dhaka">达卡</option>
<option value="Asia/Dubai">迪拜</option>
<option value="Asia/Omsk">鄂木斯克</option>
<option value="Asia/Phnom_Penh">金边</option>
<option value="Asia/Ashgabat">阿什哈巴德</option>
<option value="Asia/Aqtobe">阿克托别</option>
<option value="Asia/Aqtau">阿克陶</option>
<option value="Asia/Almaty">阿拉木图</option>
<option value="Asia/Anadyr">阿纳德尔</option>
<option value="Asia/Jakarta">雅加达</option>
<option value="Asia/Yakutsk">雅库茨克</option>
<option value="Asia/Magadan">马加丹</option>
<option value="Asia/Manila">马尼拉</option>
<option value="Asia/Muscat">马斯喀特</option>
</optgroup>
<optgroup label="北极">
<option value="Arctic/Longyearbyen">朗伊尔城</option>
</optgroup>
<optgroup label="南极洲">
<option value="Antarctica/Macquarie">Macquarie</option>
<option value="Antarctica/Casey">凯西</option>
<option value="Antarctica/South_Pole">南极</option>
<option value="Antarctica/Palmer">帕尔默</option>
<option value="Antarctica/Davis">戴维斯</option>
<option value="Antarctica/Syowa">昭和</option>
<option value="Antarctica/DumontDUrville">杜蒙特迪</option>
<option value="Antarctica/Vostok">沃斯托克</option>
<option value="Antarctica/Rothera">罗瑟拉</option>
<option value="Antarctica/Mawson">莫森</option>
<option value="Antarctica/McMurdo">麦克默多站</option>
</optgroup>
<optgroup label="印度次大陆">
<option value="Indian/Kerguelen">凯尔盖朗</option>
<option value="Indian/Reunion">团圆</option>
<option value="Indian/Christmas">圣诞岛</option>
<option value="Indian/Antananarivo">塔那那利佛</option>
<option value="Indian/Chagos">查戈斯群岛</option>
<option value="Indian/Mauritius">毛里求斯</option>
<option value="Indian/Comoro">科摩罗</option>
<option value="Indian/Cocos">科科斯</option>
<option value="Indian/Mahe">马埃</option>
<option value="Indian/Maldives">马尔代夫</option>
<option value="Indian/Mayotte">马约特岛</option>
</optgroup>
<optgroup label="大西洋">
<option value="Atlantic/Azores">亚速尔群岛</option>
<option value="Atlantic/Cape_Verde">佛得角</option>
<option value="Atlantic/Canary">加纳利</option>
<option value="Atlantic/South_Georgia">南乔治亚</option>
<option value="Atlantic/St_Helena">圣赫勒拿岛</option>
<option value="Atlantic/Stanley">斯坦利</option>
<option value="Atlantic/Faroe">法罗</option>
<option value="Atlantic/Bermuda">百慕大</option>
<option value="Atlantic/Reykjavik">雷克雅未克</option>
<option value="Atlantic/Madeira">马德拉</option>
</optgroup>
<optgroup label="太平洋">
<option value="Pacific/Chuuk">Chuuk</option>
<option value="Pacific/Pohnpei">Pohnpei</option>
<option value="Pacific/Midway">中途</option>
<option value="Pacific/Guam">关岛</option>
<option value="Pacific/Galapagos">加拉帕戈斯</option>
<option value="Pacific/Noumea">努美阿</option>
<option value="Pacific/Efate">埃法特岛</option>
<option value="Pacific/Kiritimati">基里蒂马蒂</option>
<option value="Pacific/Tahiti">塔希提岛</option>
<option value="Pacific/Tarawa">塔拉瓦</option>
<option value="Pacific/Saipan">塞班</option>
<option value="Pacific/Easter">复活节</option>
<option value="Pacific/Kwajalein">夸贾林环礁</option>
<option value="Pacific/Auckland">奥克兰</option>
<option value="Pacific/Wake">威克岛</option>
<option value="Pacific/Funafuti">富纳富提</option>
<option value="Pacific/Palau">帕劳</option>
<option value="Pacific/Pago_Pago">帕果帕果</option>
<option value="Pacific/Enderbury">恩德伯里</option>
<option value="Pacific/Rarotonga">拉罗汤加</option>
<option value="Pacific/Fiji">斐济</option>
<option value="Pacific/Chatham">查塔姆</option>
<option value="Pacific/Honolulu">檀香山</option>
<option value="Pacific/Tongatapu">汤加塔布</option>
<option value="Pacific/Fakaofo">法考福</option>
<option value="Pacific/Nauru">瑙鲁</option>
<option value="Pacific/Guadalcanal">瓜达尔卡纳尔岛</option>
<option value="Pacific/Wallis">瓦利斯</option>
<option value="Pacific/Gambier">甘比尔</option>
<option value="Pacific/Pitcairn">皮特凯恩</option>
<option value="Pacific/Kosrae">科斯雷</option>
<option value="Pacific/Johnston">约翰斯顿</option>
<option value="Pacific/Niue">纽埃</option>
<option value="Pacific/Port_Moresby">莫尔兹比港</option>
<option value="Pacific/Norfolk">诺福克</option>
<option value="Pacific/Apia">阿皮亚</option>
<option value="Pacific/Marquesas">马克萨斯</option>
<option value="Pacific/Majuro">马朱罗</option>
</optgroup>
<optgroup label="欧洲">
<option value="Europe/Uzhgorod">乌日哥罗德</option>
<option value="Europe/Istanbul">伊斯坦布尔</option>
<option value="Europe/Volgograd">伏尔加格勒</option>
<option value="Europe/London">伦敦</option>
<option value="Europe/Kaliningrad">加里宁格勒</option>
<option value="Europe/Warsaw">华沙</option>
<option value="Europe/Ljubljana">卢布尔雅那</option>
<option value="Europe/Luxembourg">卢森堡</option>
<option value="Europe/Copenhagen">哥本哈根</option>
<option value="Europe/San_Marino">圣马力诺</option>
<option value="Europe/Tirane">地拉那</option>
<option value="Europe/Chisinau">基希讷乌</option>
<option value="Europe/Kiev">基辅</option>
<option value="Europe/Tallinn">塔林</option>
<option value="Europe/Oslo">奥斯陆</option>
<option value="Europe/Andorra">安道尔</option>
<option value="Europe/Paris">巴黎</option>
<option value="Europe/Bucharest">布加勒斯特</option>
<option value="Europe/Prague">布拉格</option>
<option value="Europe/Bratislava">布拉迪斯拉发</option>
<option value="Europe/Budapest">布达佩斯</option>
<option value="Europe/Brussels">布鲁塞尔</option>
<option value="Europe/Zaporozhye">扎波罗热</option>
<option value="Europe/Monaco">摩纳哥</option>
<option value="Europe/Stockholm">斯德哥尔摩</option>
<option value="Europe/Skopje">斯科普里</option>
<option value="Europe/Jersey">新泽西州</option>
<option value="Europe/Minsk">明斯克</option>
<option value="Europe/Berlin">柏林</option>
<option value="Europe/Guernsey">根西岛</option>
<option value="Europe/Vatican">梵蒂冈</option>
<option value="Europe/Podgorica">波德戈里察</option>
<option value="Europe/Vaduz">瓦杜兹</option>
<option value="Europe/Gibraltar">直布罗陀</option>
<option value="Europe/Sofia">索菲亚</option>
<option value="Europe/Vienna">维也纳</option>
<option value="Europe/Vilnius">维尔纽斯</option>
<option value="Europe/Rome">罗马</option>
<option value="Europe/Zurich">苏黎世</option>
<option value="Europe/Moscow">莫斯科</option>
<option value="Europe/Sarajevo">萨拉热窝</option>
<option value="Europe/Zagreb">萨格勒布</option>
<option value="Europe/Samara">萨马拉</option>
<option value="Europe/Belgrade">贝尔格莱德</option>
<option value="Europe/Helsinki">赫尔辛基</option>
<option value="Europe/Simferopol">辛菲罗波尔</option>
<option value="Europe/Dublin">都柏林</option>
<option value="Europe/Riga">里加</option>
<option value="Europe/Lisbon">里斯本</option>
<option value="Europe/Amsterdam">阿姆斯特丹</option>
<option value="Europe/Athens">雅典</option>
<option value="Europe/Mariehamn">马利汉姆</option>
<option value="Europe/Madrid">马德里</option>
<option value="Europe/Isle_of_Man">马恩岛</option>
<option value="Europe/Malta">马耳他</option>
</optgroup>
<optgroup label="澳洲">
<option value="Australia/Melbourne">墨尔本</option>
<option value="Australia/Eucla">尤克拉</option>
<option value="Australia/Broken_Hill">布罗肯希尔</option>
<option value="Australia/Brisbane">布里斯班</option>
<option value="Australia/Sydney">悉尼</option>
<option value="Australia/Lindeman">林德曼</option>
<option value="Australia/Currie">柯里</option>
<option value="Australia/Perth">珀斯</option>
<option value="Australia/Lord_Howe">豪勋爵</option>
<option value="Australia/Darwin">达尔文</option>
<option value="Australia/Adelaide">阿德莱德</option>
<option value="Australia/Hobart">霍巴特</option>
</optgroup>
<optgroup label="美洲">
<option value="America/Bahia_Banderas">Bahia Banderas</option>
<option value="America/Creston">Creston</option>
<option value="America/Kralendijk">Kralendijk</option>
<option value="America/Lower_Princes">Lower Princes</option>
<option value="America/Matamoros">Matamoros</option>
<option value="America/Metlakatla">Metlakatla</option>
<option value="America/Ojinaga">Ojinaga</option>
<option value="America/Santa_Isabel">Santa Isabel</option>
<option value="America/Santarem">Santarem</option>
<option value="America/Sitka">Sitka</option>
<option value="America/Denver">丹佛</option>
<option value="America/Danmarkshavn">丹马沙</option>
<option value="America/Yakutat">亚库塔特</option>
<option value="America/Asuncion">亚松森</option>
<option value="America/Inuvik">伊努维克</option>
<option value="America/Iqaluit">伊魁特</option>
<option value="America/Belize">伯利兹</option>
<option value="America/Rankin_Inlet">兰金因莱特</option>
<option value="America/Phoenix">凤凰</option>
<option value="America/Lima">利马</option>
<option value="America/Cambridge_Bay">剑桥湾</option>
<option value="America/Caracas">加拉加斯</option>
<option value="America/Thule">勒</option>
<option value="America/Blanc-Sablon">勒布朗-拉姆</option>
<option value="America/North_Dakota/Beulah">北达科他州 - Beulah</option>
<option value="America/North_Dakota/Center">北达科他州 - 中心</option>
<option value="America/North_Dakota/New_Salem">北达科他州 - 新塞勒姆</option>
<option value="America/Boise">博伊西</option>
<option value="America/Boa_Vista">博阿维斯塔</option>
<option value="America/Cayenne">卡宴</option>
<option value="America/Indiana/Indianapolis">印地安那 - 印第安纳波利斯</option>
<option value="America/Indiana/Petersburg">印地安那 - 圣彼得堡</option>
<option value="America/Indiana/Winamac">印地安那 - 威纳马克</option>
<option value="America/Indiana/Vincennes">印地安那 - 文森斯</option>
<option value="America/Indiana/Tell_City">印地安那 - 特尔城</option>
<option value="America/Indiana/Knox">印地安那 - 诺克斯</option>
<option value="America/Indiana/Vevay">印地安那 - 韦韦</option>
<option value="America/Indiana/Marengo">印地安那 - 马伦哥</option>
<option value="America/Guatemala">危地马拉</option>
<option value="America/Goose_Bay">古斯湾</option>
<option value="America/Halifax">哈利法克斯</option>
<option value="America/Havana">哈瓦那</option>
<option value="America/Costa_Rica">哥斯达黎加</option>
<option value="America/Godthab">哥特哈布</option>
<option value="America/Sao_Paulo">圣保罗</option>
<option value="America/St_Lucia">圣卢西亚</option>
<option value="America/Santiago">圣地亚哥</option>
<option value="America/St_Kitts">圣基茨和尼维斯</option>
<option value="America/Santo_Domingo">圣多明各</option>
<option value="America/St_Barthelemy">圣巴夫林米</option>
<option value="America/St_Thomas">圣托马斯</option>
<option value="America/St_Vincent">圣文森特</option>
<option value="America/St_Johns">圣约翰斯</option>
<option value="America/Guyana">圭亚那</option>
<option value="America/Cancun">坎昆</option>
<option value="America/Campo_Grande">坎普</option>
<option value="America/Resolute">坚决</option>
<option value="America/Edmonton">埃德蒙顿</option>
<option value="America/Hermosillo">埃莫西</option>
<option value="America/Adak">埃达克</option>
<option value="America/Mexico_City">墨西哥城</option>
<option value="America/Toronto">多伦多</option>
<option value="America/Dominica">多米尼加</option>
<option value="America/Grand_Turk">大特克</option>
<option value="America/Port-au-Prince">太子港</option>
<option value="America/Chihuahua">奇瓦瓦</option>
<option value="America/Anchorage">安克雷奇</option>
<option value="America/Anguilla">安圭拉</option>
<option value="America/Antigua">安提瓜</option>
<option value="America/Miquelon">密克隆岛</option>
<option value="America/Nipigon">尼皮贡</option>
<option value="America/Bahia">巴伊亚</option>
<option value="America/Barbados">巴巴多斯</option>
<option value="America/Panama">巴拿马</option>
<option value="America/Paramaribo">帕拉马里博</option>
<option value="America/Cuiaba">库亚巴</option>
<option value="America/Curacao">库拉索</option>
<option value="America/Detroit">底特律</option>
<option value="America/Pangnirtung">庞纳唐</option>
<option value="America/Cayman">开曼</option>
<option value="America/Swift_Current">急湍</option>
<option value="America/Tortola">托尔托拉</option>
<option value="America/La_Paz">拉巴斯</option>
<option value="America/Nassau">拿骚</option>
<option value="America/Scoresbysund">斯科斯比松</option>
<option value="America/Juneau">朱诺</option>
<option value="America/Grenada">格林纳达</option>
<option value="America/Glace_Bay">格莱斯贝</option>
<option value="America/Thunder_Bay">桑德贝</option>
<option value="America/Menominee">梅诺米尼</option>
<option value="America/Merida">梅里达</option>
<option value="America/Bogota">波哥大</option>
<option value="America/Porto_Velho">波多韦柳</option>
<option value="America/Puerto_Rico">波多黎各</option>
<option value="America/Los_Angeles">洛杉矶</option>
<option value="America/Vancouver">温哥华</option>
<option value="America/Winnipeg">温尼伯</option>
<option value="America/Jamaica">牙买加</option>
<option value="America/Tegucigalpa">特古西加尔巴</option>
<option value="America/Marigot">玛莉格</option>
<option value="America/Guayaquil">瓜亚基尔</option>
<option value="America/Guadeloupe">瓜德罗普岛</option>
<option value="America/Whitehorse">白马</option>
<option value="America/Fortaleza">福塔莱萨</option>
<option value="America/Recife">累西腓</option>
<option value="America/New_York">纽约</option>
<option value="America/Yellowknife">耶洛奈夫</option>
<option value="America/Kentucky/Monticello">肯塔基州 - 蒙蒂塞洛</option>
<option value="America/Kentucky/Louisville">肯塔基州 - 路易斯维尔</option>
<option value="America/Shiprock">船岩</option>
<option value="America/Eirunepe">艾鲁内佩</option>
<option value="America/Chicago">芝加哥</option>
<option value="America/El_Salvador">萨尔瓦多</option>
<option value="America/Tijuana">蒂华纳</option>
<option value="America/Moncton">蒙克顿</option>
<option value="America/Montevideo">蒙得维的亚</option>
<option value="America/Montreal">蒙特利尔</option>
<option value="America/Montserrat">蒙特塞拉特</option>
<option value="America/Monterrey">蒙特雷</option>
<option value="America/Port_of_Spain">西班牙港</option>
<option value="America/Nome">诺姆</option>
<option value="America/Belem">贝伦</option>
<option value="America/Noronha">迪诺罗尼亚</option>
<option value="America/Dawson">道森</option>
<option value="America/Dawson_Creek">道森溪</option>
<option value="America/Rio_Branco">里约布兰</option>
<option value="America/Regina">里贾纳</option>
<option value="America/Araguaina">阿拉瓜伊纳</option>
<option value="America/Atikokan">阿提库</option>
<option value="America/Argentina/Salta">阿根廷 - Salta</option>
<option value="America/Argentina/Ushuaia">阿根廷 - 乌斯怀亚</option>
<option value="America/Argentina/Catamarca">阿根廷 - 卡塔马卡</option>
<option value="America/Argentina/Tucuman">阿根廷 - 图库曼</option>
<option value="America/Argentina/San_Juan">阿根廷 - 圣胡安</option>
<option value="America/Argentina/San_Luis">阿根廷 - 圣路易斯</option>
<option value="America/Argentina/Buenos_Aires">阿根廷 - 布宜诺斯艾利斯</option>
<option value="America/Argentina/La_Rioja">阿根廷 - 拉里奥哈</option>
<option value="America/Argentina/Cordoba">阿根廷 - 科尔多瓦</option>
<option value="America/Argentina/Jujuy">阿根廷 - 胡胡伊</option>
<option value="America/Argentina/Rio_Gallegos">阿根廷 - 里奥加耶戈斯</option>
<option value="America/Argentina/Mendoza">阿根廷 - 门多萨</option>
<option value="America/Aruba">阿鲁巴</option>
<option value="America/Rainy_River">雷尼里弗</option>
<option value="America/Maceio">马塞约</option>
<option value="America/Martinique">马提尼克</option>
<option value="America/Manaus">马瑙斯</option>
<option value="America/Mazatlan">马萨特兰</option>
<option value="America/Managua">马那瓜</option>
</optgroup>
<optgroup label="非洲">
<option value="Africa/Juba">Juba</option>
<option value="Africa/Addis_Ababa">亚的斯亚贝巴</option>
<option value="Africa/Ceuta">休达</option>
<option value="Africa/Nairobi">内罗毕</option>
<option value="Africa/Bissau">几内亚比绍</option>
<option value="Africa/Libreville">利伯维尔</option>
<option value="Africa/Nouakchott">努瓦克肖特</option>
<option value="Africa/Casablanca">卡萨布兰卡</option>
<option value="Africa/Lubumbashi">卢本巴希</option>
<option value="Africa/Lusaka">卢萨卡</option>
<option value="Africa/Djibouti">吉布提</option>
<option value="Africa/Gaborone">哈博罗内</option>
<option value="Africa/Harare">哈拉雷</option>
<option value="Africa/Khartoum">喀土穆</option>
<option value="Africa/Sao_Tome">圣多美和普林西比</option>
<option value="Africa/Kampala">坎帕拉</option>
<option value="Africa/Kigali">基加利</option>
<option value="Africa/Mbabane">姆巴巴</option>
<option value="Africa/Niamey">尼亚美</option>
<option value="Africa/Bamako">巴马科</option>
<option value="Africa/Blantyre">布兰太尔</option>
<option value="Africa/Brazzaville">布拉柴维尔</option>
<option value="Africa/Bujumbura">布琼布拉</option>
<option value="Africa/Cairo">开罗</option>
<option value="Africa/Freetown">弗里敦</option>
<option value="Africa/Ndjamena">恩贾梅纳</option>
<option value="Africa/Lagos">拉各斯</option>
<option value="Africa/Mogadishu">摩加迪沙</option>
<option value="Africa/Douala">杜阿拉</option>
<option value="Africa/Porto-Novo">波多诺伏</option>
<option value="Africa/Lome">洛美</option>
<option value="Africa/Windhoek">温得和克</option>
<option value="Africa/Bangui">班吉</option>
<option value="Africa/Banjul">班珠尔</option>
<option value="Africa/Ouagadougou">瓦加杜古</option>
<option value="Africa/Tripoli">的黎波里</option>
<option value="Africa/Conakry">科纳克里</option>
<option value="Africa/Tunis">突尼斯</option>
<option value="Africa/Johannesburg">约翰内斯堡</option>
<option value="Africa/Luanda">罗安达</option>
<option value="Africa/Monrovia">蒙罗维亚</option>
<option value="Africa/Dakar">达喀尔</option>
<option value="Africa/Dar_es_Salaam">达累斯萨拉姆</option>
<option value="Africa/Kinshasa">金沙萨</option>
<option value="Africa/Accra">阿克拉</option>
<option value="Africa/Algiers">阿尔及尔</option>
<option value="Africa/El_Aaiun">阿尤恩</option>
<option value="Africa/Asmara">阿斯马拉</option>
<option value="Africa/Abidjan">阿比让</option>
<option value="Africa/Maseru">马塞卢</option>
<option value="Africa/Malabo">马拉博</option>
<option value="Africa/Maputo">马普托</option>
</optgroup>
<optgroup label="协调世界时（UTC）">
<option value="UTC">协调世界时（UTC）</option>
</optgroup>
<optgroup label="手动指定偏差">
<option value="UTC-12">UTC-12</option>
<option value="UTC-11.5">UTC-11:30</option>
<option value="UTC-11">UTC-11</option>
<option value="UTC-10.5">UTC-10:30</option>
<option value="UTC-10">UTC-10</option>
<option value="UTC-9.5">UTC-9:30</option>
<option value="UTC-9">UTC-9</option>
<option value="UTC-8.5">UTC-8:30</option>
<option value="UTC-8">UTC-8</option>
<option value="UTC-7.5">UTC-7:30</option>
<option value="UTC-7">UTC-7</option>
<option value="UTC-6.5">UTC-6:30</option>
<option value="UTC-6">UTC-6</option>
<option value="UTC-5.5">UTC-5:30</option>
<option value="UTC-5">UTC-5</option>
<option value="UTC-4.5">UTC-4:30</option>
<option value="UTC-4">UTC-4</option>
<option value="UTC-3.5">UTC-3:30</option>
<option value="UTC-3">UTC-3</option>
<option value="UTC-2.5">UTC-2:30</option>
<option value="UTC-2">UTC-2</option>
<option value="UTC-1.5">UTC-1:30</option>
<option value="UTC-1">UTC-1</option>
<option value="UTC-0.5">UTC-0:30</option>
<option value="UTC+0">UTC+0</option>
<option value="UTC+0.5">UTC+0:30</option>
<option value="UTC+1">UTC+1</option>
<option value="UTC+1.5">UTC+1:30</option>
<option value="UTC+2">UTC+2</option>
<option value="UTC+2.5">UTC+2:30</option>
<option value="UTC+3">UTC+3</option>
<option value="UTC+3.5">UTC+3:30</option>
<option value="UTC+4">UTC+4</option>
<option value="UTC+4.5">UTC+4:30</option>
<option value="UTC+5">UTC+5</option>
<option value="UTC+5.5">UTC+5:30</option>
<option value="UTC+5.75">UTC+5:45</option>
<option value="UTC+6">UTC+6</option>
<option value="UTC+6.5">UTC+6:30</option>
<option value="UTC+7">UTC+7</option>
<option value="UTC+7.5">UTC+7:30</option>
<option value="UTC+8">UTC+8</option>
<option value="UTC+8.5">UTC+8:30</option>
<option value="UTC+8.75">UTC+8:45</option>
<option value="UTC+9">UTC+9</option>
<option value="UTC+9.5">UTC+9:30</option>
<option value="UTC+10">UTC+10</option>
<option value="UTC+10.5">UTC+10:30</option>
<option value="UTC+11">UTC+11</option>
<option value="UTC+11.5">UTC+11:30</option>
<option value="UTC+12">UTC+12</option>
<option value="UTC+12.75">UTC+12:45</option>
<option value="UTC+13">UTC+13</option>
<option value="UTC+13.75">UTC+13:45</option>
<option value="UTC+14">UTC+14</option>
</optgroup></select>

	<span id="utc-time"><abbr title="协调世界时（Coordinated Universal Time）">UTC</abbr>时间为<code>2015年4月9日2:56:58</code></span>
	<span id="local-time">本地时间为<code>2015年4月9日10:56:58</code></span>
<p class="description">选择一个和您时区相同的城市。</p>
<br>
<span>
	该时区当前使用标准时间。	<br>
	该时区不实施夏令时。	</span>
</td>

</tr>
<tr>
<th scope="row">日期格式</th>
<td>
	<fieldset><legend class="screen-reader-text"><span>日期格式</span></legend>
	<label title="Y年n月j日"><input type="radio" name="date_format" value="Y年n月j日" checked="checked"> <span>2015年4月9日</span></label><br>
	<label title="Y-m-d"><input type="radio" name="date_format" value="Y-m-d"> <span>2015-04-09</span></label><br>
	<label title="m/d/Y"><input type="radio" name="date_format" value="m/d/Y"> <span>04/09/2015</span></label><br>
	<label title="d/m/Y"><input type="radio" name="date_format" value="d/m/Y"> <span>09/04/2015</span></label><br>
	<label><input type="radio" name="date_format" id="date_format_custom_radio" value="\c\u\s\t\o\m"> 自定义： </label><input type="text" name="date_format_custom" value="Y年n月j日" class="small-text"> <span class="example"> 2015年4月9日</span> <span class="spinner"></span>
	</fieldset>
</td>
</tr>
<tr>
<th scope="row">时间格式</th>
<td>
	<fieldset><legend class="screen-reader-text"><span>时间格式</span></legend>
	<label title="ag:i"><input type="radio" name="time_format" value="ag:i" checked="checked"> <span>上午10:56</span></label><br>
	<label title="g:i A"><input type="radio" name="time_format" value="g:i A"> <span>10:56 上午</span></label><br>
	<label title="H:i"><input type="radio" name="time_format" value="H:i"> <span>10:56</span></label><br>
	<label><input type="radio" name="time_format" id="time_format_custom_radio" value="\c\u\s\t\o\m"> 自定义： </label><input type="text" name="time_format_custom" value="ag:i" class="small-text"> <span class="example"> 上午10:56</span> <span class="spinner"></span>
	<p><a href="http://codex.wordpress.org/zh-cn:%E8%87%AA%E5%AE%9A%E4%B9%89%E6%97%B6%E9%97%B4%E5%92%8C%E6%97%A5%E6%9C%9F%E6%A0%BC%E5%BC%8F">关于日期和时间格式的中文文档</a>。</p>
	</fieldset>
</td>
</tr>
<tr>
<th scope="row"><label for="start_of_week">一星期开始于</label></th>
<td><select name="start_of_week" id="start_of_week">

	<option value="0">星期日</option>
	<option value="1" selected="selected">星期一</option>
	<option value="2">星期二</option>
	<option value="3">星期三</option>
	<option value="4">星期四</option>
	<option value="5">星期五</option>
	<option value="6">星期六</option></select></td>
</tr>
<tr><th scope="row">ICP备案号</th><td><input name="zh_cn_l10n_icp_num" type="text" id="zh_cn_l10n_icp_num" value="" class="regluar-text ltr"><p class="description">仅对WordPress自带主题有效。</p></td></tr>
	<tr>
		<th width="33%" scope="row"><label for="WPLANG">站点语言</label></th>
		<td>
			<select name="WPLANG" id="WPLANG"><optgroup label="已安装">
<option value="" lang="en" data-installed="1">English (United States)</option>
<option value="zh_CN" lang="zh" selected="selected" data-installed="1">简体中文</option>
</optgroup>
<optgroup label="可用">
<option value="ar" lang="ar">العربية</option>
<option value="az" lang="az">Azərbaycan dili</option>
<option value="bg_BG" lang="bg">Български</option>
<option value="bs_BA" lang="bs">Bosanski</option>
<option value="ca" lang="ca">Català</option>
<option value="cy" lang="cy">Cymraeg</option>
<option value="da_DK" lang="da">Dansk</option>
<option value="de_CH" lang="de">Deutsch (Schweiz)</option>
<option value="de_DE" lang="de">Deutsch</option>
<option value="el" lang="el">Ελληνικά</option>
<option value="en_GB" lang="en">English (UK)</option>
<option value="en_CA" lang="en">English (Canada)</option>
<option value="en_AU" lang="en">English (Australia)</option>
<option value="eo" lang="eo">Esperanto</option>
<option value="es_MX" lang="es">Español de México</option>
<option value="es_PE" lang="es">Español de Perú</option>
<option value="es_ES" lang="es">Español</option>
<option value="es_CL" lang="es">Español de Chile</option>
<option value="eu" lang="eu">Euskara</option>
<option value="fa_IR" lang="fa">فارسی</option>
<option value="fi" lang="fi">Suomi</option>
<option value="fr_FR" lang="fr">Français</option>
<option value="gd" lang="gd">Gàidhlig</option>
<option value="gl_ES" lang="gl">Galego</option>
<option value="haz" lang="haz">هزاره گی</option>
<option value="he_IL" lang="he">עִבְרִית</option>
<option value="hr" lang="hr">Hrvatski</option>
<option value="hu_HU" lang="hu">Magyar</option>
<option value="id_ID" lang="id">Bahasa Indonesia</option>
<option value="is_IS" lang="is">Íslenska</option>
<option value="it_IT" lang="it">Italiano</option>
<option value="ja" lang="ja">日本語</option>
<option value="ko_KR" lang="ko">한국어</option>
<option value="lt_LT" lang="lt">Lietuvių kalba</option>
<option value="my_MM" lang="my">ဗမာစာ</option>
<option value="nb_NO" lang="nb">Norsk bokmål</option>
<option value="nl_NL" lang="nl">Nederlands</option>
<option value="pl_PL" lang="pl">Polski</option>
<option value="ps" lang="ps">پښتو</option>
<option value="pt_PT" lang="pt">Português</option>
<option value="pt_BR" lang="pt">Português do Brasil</option>
<option value="ro_RO" lang="ro">Română</option>
<option value="ru_RU" lang="ru">Русский</option>
<option value="sk_SK" lang="sk">Slovenčina</option>
<option value="sl_SI" lang="sl">Slovenščina</option>
<option value="sr_RS" lang="sr">Српски језик</option>
<option value="sv_SE" lang="sv">Svenska</option>
<option value="th" lang="th">ไทย</option>
<option value="tr_TR" lang="tr">Türkçe</option>
<option value="ug_CN" lang="ug">Uyƣurqə</option>
<option value="zh_TW" lang="zh">繁體中文</option>
</optgroup></select>		</td>
	</tr>
	</tbody></table>


<p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="保存更改"></p></form>

</div>


<div class="clear"></div></div><!-- wpbody-content -->
<div class="clear"></div></div>