<extend name="Public:main" />
<script src="__ROOT__/Public/Js/bootstrap/collapse.js"></script>

<block name="main">
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a data-toggle="tab" href="#restore" aria-controls="restore" role="tab">{$page_title}</a></li>
	<li role="presentation"><a data-toggle="tab" href="#backup" aria-controls="backup" role="tab">{$page_title2}</a></li>
</ul>
<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="restore">
		<div class="form-group   active">
			<table class="table table-bordered table-condensed text-nowrap">
				<thead>
					<tr role="row">
						<th class="col-xs-1" rowspan="1" colspan="1">备份名称</th>
						<th class="col-xs-2" rowspan="1" colspan="1">备份大小</th>
						<th class="col-xs-2" rowspan="1" colspan="1">备份时间</th>
						<th class="col-xs-2" rowspan="1" colspan="1">操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="backups" id="val" empty="暂时没有备份">
					<tr class="collapsed">
						<td><span> {$val.name}</span></td>
						<td><span>{$val.total_size}kb</span></td>
						<td><span>{$val.date_str}</span></td>
						<td><a href="{:U('Backup/delBackup', array('backup_name'=>$val['name']))}" class="btn   btn-danger" data-msg="确定删除吗？">删除</a> | <a
							href="{:U('Backup/restore', array('backup_name'=>$val['name']))}"  class="btn btn-info " data-msg="确定恢复吗？">恢复</a>
							 | <a
							href="{:U('Backup/download', array('backup_name'=>$val['name']))}" class="btn btn-warning" >下载</a>
							</td>
					</tr>
					</volist>
				</tbody>
			</table>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="backup">
		<div class="form-group ">
			<form method="post" action="{:U('Backup/dobackup')}"  class="form-horizontal">
				<div class="col-sm-8">
					<div class="form-group">
						<label for="blogname" class="col-sm-2 control-label">分卷大小</label>
						<div class="col-sm-4">
							<input type="number" placeholder="分卷大小" class="form-control" id="sizelimit" name="sizelimit" value="10240"  required /> 
						</div>
						<div class="col-sm-4">
							<label for="blogname" class="control-label"> K;(推荐10M以下)</label>
						</div>
					</div>
					<div class="form-group">
						<label for="blogname" class="col-sm-2 control-label">备份名称</label>
						<div class="col-sm-4">
							<input type="text" placeholder="备份名称" class="form-control" id="backup_name" name="backup_name"  value="窝呆备份"  required />
						</div>
					</div>

					<div class="form-group">
						<label for="blogname" class="col-sm-2 control-label">备份类型</label>
						<div class="col-sm-10">
							<button class="btn btn-primary"  name="backup_type"  type="button" data-toggle="collapse"  data-target="#showtables" aria-expanded="false" aria-controls="showtables">
								自定义备份</button>
						</div>
					</div>
					<div class="form-group">
						<div class="collapse"  id="showtables"">
							<div class="col-sm-2">
								<label><input class="selectall"  name="selectall"  checked="checked"type="checkbox"  />选择全部</label>
							</div>
							<div class="col-sm-10">
								<volist name="tables" id="val"  mod="5"> 
								<label class="checkbox-inline" style="width: 200px;">
								 <input name="backup_tables[{$val}]"  type="checkbox"  value="-1"  checked="checked" class="checkitem" />&nbsp;&nbsp;{$val}
								</label> </volist>
							</div>
						</div>
					</div>
					<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">
						<i class="icon-ok"></i>保存
					</button>
				</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</block>

